.page {
  padding: 30px;
  width: 80%;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
.titre{
    text-align: center;
    padding-bottom: 38px;
}


.table th {
  background: #f3f4f6; /* Header رمادي فاتح */
  font-weight: bold;
}
.table tr:hover {
  background: #f9fafb; /* خفيف بزاف */
}


.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  max-width: 400px;
  height: 50%;
  width: 100%;
}

.form {
  width: 100%;
    margin-top: 43px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.input {
  padding-top: 33px;
  padding:  17px;
  border: 1px solid #d1d5db; /* لون رمادي فاتح */
  border-radius: 6px;
  font-size: 15px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.input:focus{
    border-color: #2563eb; /* أزرق عند التركيز */
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.2); /* Glow خفيف */
}

.modalActions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btnModifier {
  background: #facc15;
  border: none;
  padding: 6px 10px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.btnSupprimer {
  background: #ef4444;
  color: #fff;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.Enregistrer{
    background: #1e3a8a;
  color: #fff;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
}
.btnAnnuler {
  background: #9ca3af;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}
/* Modal Overlay */
.modalOverlay1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

/* Modal Box */
.modalContent1 {
        height: 20%;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modalContent1 h3 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #111827;
}

.modalActions1 {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btnConfirmer1 {
  background: #ef4444; /* أحمر */
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
}

.btnConfirmer1:hover {
  background: #dc2626;
}

.btnAnnuler1 {
  background: #9ca3af; /* رمادي */
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
}

.btnAnnuler1:hover {
  background: #6b7280;
}

