/* Sidebar.module.css */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  min-width: 20%;
  background-color: #ffffff;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
  overflow-y: auto;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #1e3a8a;
  padding: 20px;
  border-bottom: 1px solid #e5e7eb;
}

.navLinks {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  margin-top: 30px;
  gap: 2px;
  flex: 1;
}

.link {
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 12px 16px;
  color: #374151;
  text-decoration: none;
  border-radius: 8px;
  transition: background 0.2s, color 0.2s;
}
.linkRapport {
  padding-top: 38px;
  display: flex;
  align-items: center;
  color: #374151;
  text-decoration: none;
  transition: background 0.2s, color 0.2s;
}
.link:hover {
  background-color: #e0e7ff;
  color: #1e3a8a;
}

.active {
  background-color: #1e3a8a;
  color: #ffffff;
}

.footer {
  text-align: center;
  font-size: 12px;
  color: #9ca3af;
  padding: 20px;
  border-top: 1px solid #e5e7eb;
}
.logout {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  margin: auto;
  background: #ef4444; /* أحمر أساسي */
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  transition: all 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logout:hover {
  background: #dc2626; /* أحمر أدكن عند Hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.logout:active {
  transform: scale(0.98);
}
.rapportItem {
  display: flex;
  flex-direction: column;
}

.rapportBtn {
  background: none;
  border: none;
  color: #fff;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
}

.submenu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 20px;
  margin-top: 8px;
}

.submenu a {
  color: #facc15; /* لون أصفر يبان SubLink */
  text-decoration: none;
  font-size: 15px;
}
